page-home {
    .img-responsive{
        display: block; 
        width: 50%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .header{
        color:#1DCDE2;
        font-style:italic;
        text-align:center
    }
}
